

/*@font-face {
    font-family: 'Titillium Web';
    src: url('LilitaOne.woff2') format('woff2'),
        url('LilitaOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

.w-chuj {
  width: 75%;
}

.AAA, .CCCC, .GGGG { transition-duration: 0.5s; }

.w-60 {
  width: 60% !important;
}

kurwa {
  display: none;
}

.console-1 {
  line-height: 1.1;
  height: 0;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.console-font, cfont {
  font-family: 'Roboto Mono', monospace !important;
}

.coinsgemsboth, .ctn1, .ctn2, .cgbq { display: none; }

.console-2 {
  color: #e7e7e7 !important;
  border-bottom: 1px solid rgba(72,72,72,0.6);
  border-top: 1px solid rgba(72,72,72,0.6);
  font-size: 1rem !important;
  padding: 0.75rem;
  font-weight: 400 !important;
  font-family: 'Roboto Mono', monospace !important;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

  .card {
//    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
	cursor: pointer;
  border: solid 2px #fff;
	opacity: .6;
  }

  .card img {
    width: 110px;
    height: 89px;
  }
  
   .card.first {
    background: radial-gradient(#ffff4f, #ebb412);
  }

  .card.second {
    background: radial-gradient(#72ff3f, #20cf10);
  }


  .card.both {
    background: radial-gradient(#fd2020, #ff4f4f);
  }
  
    .card p {
    margin: 0;
    color: white;
    font-size: 14px;
  }
  
    .card .box {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	border: solid 1px black;
	filter: drop-shadow(0rem .2rem .2rem #000000);

  }
  
    .card .box.first {
    background: radial-gradient(#ffff4f, #ffbd20);
  }

  .card .box.second {
    background: radial-gradient(#72ff3f, #20cf10)
  }

  .card .box.both {
    background: radial-gradient(#fd2020, #ff4f4f)
	
	}
	

.glowing-button {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
  text-shadow: 0px 1px 5px #000;
  outline: none !important;
  border-width: 0px;
  
}

.glowing-button.start {
background-image: linear-gradient(135deg, #fff36a 0%, #ffb103 100%);

}

.glowing-button.ctn1 {
background-image: linear-gradient(135deg, #65bfff 0%, #0339ff 100%);
}

.glowing-button.ctn2 {
background-image: linear-gradient(135deg, #65bfff 0%, #0339ff 100%);
}

.glowing-button.hv {
background-image: linear-gradient(135deg, #fff36a 0%, #ffb103 100%);
}

.glowing-button:hover {
  animation: pulse 0.5s ease-in;
  animation-iteration-count: 1;
  box-shadow: 0 5px 15px rgb(173 173 173 / 40%);

}
@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1);}
}

.card-deselected {
  opacity: 0.6;
}
	
  }

.c-yellow, cyellow {
  color: #ecc508 !important;
}

.c-green, cgreen {
  color: #00ff01 !important;
}

.c-red, cred {
  color: #ff0b0b;
}

.c-white, cwhite {
  color: #fff;
}

.c-blue, cblue {
  color: #1497ff;
}

.f-300, f300 {
  font-weight: 300 !important;
}

.f-400, f400 {
  font-weight: 400 !important;
}

.f-500, f500 {
  font-weight: 500 !important;
}

.f-600, f600 {
  font-weight: 600 !important;
}

.f-700, f700 {
  font-weight: 700 !important;
}

.tn { text-transform: none;}

strong { font-weight: 600 !important; }

body {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    min-height: 100vh;
	backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

            @keyframes tilt-n-move-shaking {
                0% {
                    transform: translate(0, 0) rotate(0deg);
                }

                25% {
                    transform: translate(5px, 5px) rotate(5deg);
                }

                50% {
                    transform: translate(0, 0) rotate(0eg);
                }

                75% {
                    transform: translate(-5px, 5px) rotate(-5deg);
                }

                100% {
                    transform: translate(0, 0) rotate(0deg);
                }
            }

.modal-header {
    justify-content: center !important;
}

.logo {
    max-height: 25vh;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
	             /*   animation: tilt-n-move-shaking 0.50s infinite;*/
}

ol {
    text-align: left !important;
}

.modal-body {
    text-align: center !important;
    font-size: 1.1rem;
}

.hack {
  letter-spacing: -0.05rem;
  font-family: 'Titillium Web', sans-serif;
    background: #000000;
    /*background: -webkit-linear-gradient(to bottom, #434343, #000000);
    background: linear-gradient(to bottom, #434343, #000000);*/
    background: radial-gradient(rgb(58 58 58 / 90%), rgb(32 32 32 / 90%));
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    /*border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;*/
	  box-shadow: 0 1px 1px rgba(0,0,0,0.30), 
              0 2px 2px rgba(0,0,0,0.30), 
              0 4px 4px rgba(0,0,0,0.30), 
              0 8px 8px rgba(0,0,0,0.30), 
              0 16px 16px rgba(0,0,0,0.30), 
              0 32px 32px rgba(0,0,0,0.30);
	border-radius: 18px;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.status-header {
  font-family: 'Titillium Web', sans-serif;
    font-size: 1.25rem !important;
    font-weight: 500 !important;
    text-transform: none !important;
    color: #eee !important;
    margin: -0.25rem -15px 0.25rem -15px !important;
	height: 20px;
}

.hack-header {
  border-bottom: 1px solid rgba(72,72,72,0.6);
    text-transform: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    /*border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-left: 2px solid rgba(0, 0, 0, 0.75);
    border-top: 2px solid rgba(0, 0, 0, 0.75);
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    /*background-color: #222;*/
    color: #eee;
}

.hack-generator {
    font-size: 1.3rem !important;
    color: #fff;
    text-transform: none !important;
    font-weight: 400 !important;
}

.flicks {
  border-top: 1px solid rgba(72,72,72,0.6);
  font-family: 'Titillium Web', sans-serif;
  text-transform: none;
}

.recent-header {
  font-family: 'Titillium Web', sans-serif;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    text-transform: none !important;
    font-size: 1.25rem !important;
    font-weight: 400;
	height: 23px;
	color: #ffffff;
}

/*.status-header {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    text-transform: none !important;
    font-size: 1.1rem !important;
    font-weight: 400 !important;
}*/

.start, .verify, .ctn1, .ctn2, .hv, .h-v, .ccoins, .cgems, .cboth, .GGGG, .CCCC, .AAA {
  cursor: pointer;
}

.recent {
    background: #222;
    background: radial-gradient(rgba(34, 34, 34, 0.9), rgba(0, 0, 0, 0.9));
    color: #eee;
    /*border-radius: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.75);
    /*border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;*/
    margin-top: -0.5rem !important;
	  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}

.form-control {
    text-align: center !important;
    font-weight: 400 !important;
}

.r1r1, .r2r2 {
    font-weight: 400;
    font-size: 1.4rem !important;
}

.wybrane {
    text-transform: none !important;
}

flick {
    font-size: 1.15rem !important;
    font-weight: 400;
    margin-top: -0.25rem;
    text-transform: none !important;
}

.device-img { height: 2.5rem; }

.flick-img {
  height: 2rem;
}

p {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    font-size: 1.2rem;
}

.form-control {
    font-size: 1.2rem !important;
}

.end, .ehh, .hv, .coinschoose, .gemschoose, .coinschooseH, .gemschooseH, .bothchooseH {
    display: none;
}

.fab, .fas {
    cursor: pointer;
    font-size: 3.6rem !important;
    opacity: 0.8;
    margin-bottom: 0.25rem !important;
    transition-duration: 0.5s;
}

.f-username {
    font-size: 1.7rem !important;
    margin-top: -0.5rem !important;
    text-transform: none !important;
}

.i-resource-1 {
    background-image: url(firstResource.png);
}

.i-resource-2 {
    background-image: url(secondResource.png);
}

.i-resource-1, .i-resource-2 {
    font-size: 2rem !important;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    background-color: #eee !important;
    border: 0;
    color: #222 !important;
    text-align: left !important;
    padding-left: 4rem !important;
}

.final-img {
    max-width: 75%;
}

.p-m {
    cursor: pointer;
    border: 0;
    color: #000 !important;
    background-color: #222 !important;
    font-weight: 400 !important;
    font-size: 1.8rem !important;
    padding: 0 1rem !important;
}

h3 {
    font-size: 1.15rem !important;
}

.btn-c {
    font-weight: 400 !important;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

.status-img {
    margin-right: 5px;
    margin-bottom: 2px;
    max-height: 20px;
}

red {
    font-size: 1.4rem !important;
    color: red !important;
}

.typed-cursor {
    display: none !important;
}

.btn-l {
    margin-bottom: 0.5rem !important;
}

@media (min-width: 576px) {

  .w-60 { width: 32% !important; }

  h3 {
    font-size: 1.5rem !important;
  }

  .console-1 {
    padding-bottom: 50%;
  }

.w-chuj { width: 75%; }

    h4 {
        font-size: 1.65rem !important;
    }
    .status-header {
        font-size: 1.25rem !important;
    }
    .recent-header {
        font-size: 1.35rem !important;
    }
    p {
        font-size: 1.15rem !important;
    }
    .fab, .fas {
        font-size: 4rem !important;
            margin-bottom: 0.5rem !important;

    }
    .btn-c {
        font-size: 1.75rem !important;
    }
    .#username {
        font-size: 1.15rem !important;
    }
    .f-username {
        font-size: 1.9rem !important;
    }
    .hack-generator {
        font-size: 1.4rem !important;
    }
    .final-img {
        max-width: 50%;
    }
}
@media (min-width: 768px) {

  .d-80 {width: 80%; }

  .d-60 {width: 60%; }

  h5 { font-size: 2.1rem; }

  kurwa { display: inline-block; }

  .w-chuj { width: 75%; }

    .btn-c {
        margin-bottom: 0.5rem;
        font-size: 1.85rem !important;
    }
    h4 {
        font-size: 1.8rem !important;
    }
    .status-header {
        font-size: 1.35rem !important;
    }
    .recent-header {
        font-size: 1.45rem !important;
    }
    .fab, .fas {
        font-size: 4.20rem !important;
            margin-bottom: 0.5rem !important;

    }
    #username {
        font-size: 1.3rem !important;
    }
    p {
        font-size: 1.25rem !important;
    }
    .hack-generator {
        font-size: 1.5rem !important;
    }
}

@media (min-width: 992px) {

  .w-chuj { width: 50%; }

    .fab, .fas {
        font-size: 5rem !important;
            margin-bottom: 0.5rem !important;

    }
}
